

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background: url("../img/bg.png") whiteSmoke;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}
header{
	background: #00b0b0 url("../img/ecobg.jpg");
	background-size: cover;
	border-bottom: 1px solid #1f545c;
	box-shadow: 0 0 6px #555;
	padding: 50px 0;
}
header canvas{
	display: block;
	margin: 0 auto;
}
div#main{
	display: block;
	margin: 40px auto;
}
div#main h1{
	color: #999;
	font-size: 4em;
	text-align: center;
}
div#main h1 img{
	display: inline-block;
	padding-bottom: 6px;
}
div#main .row{
	display: block;
	margin: 0;
	padding: 20px;
	width: auto;
}
div#main img{
	display: block;
	margin: 0 auto;
}
div#main h2{
	color: #999;
	font-size: 2.5em;
	margin: 0 auto;
	padding: 4px 0;
	text-align: center;
	width: 206px;
}
div#main p{
	color: #999;
	font-family: arial, helvetica, sans-serif;
	margin: 0 auto;
	padding: 4px 0;
	text-align: justify;
	width: 206px;
}
div.span-4{
	margin: 0 auto;
}
footer{
	background: #222;
	height: 350px;
}