

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background: url("../img/bg.png") whiteSmoke;
	font-family: 'Lobster', cursive;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
header{
	background: #00b0b0 url("../img/ecobg.jpg") no-repeat center;
	background-size: cover;
	border-bottom: 1px solid #1f545c;
	box-shadow: 0 0 6px #555;
	padding: 100px 0 200px 0;
}
header canvas{
	display: block;
	margin: 0 auto;
}
div#main{
	display: block;
	margin: 40px auto;
}
div#main h1{
	color: #999;
	font-size: 4em;
	text-align: center;
	margin-bottom: 5%;
}
div#main h1 img{
	display: inline-block;
	padding-bottom: 6px;
	vertical-align: bottom;
}
.row-fluid{
	display: block;
	margin: 0;
	padding: 20px;
	text-align: center;
	width: auto;
}
.row-fluid .span4{
	display: inline-block;
	padding: 20px;
	vertical-align: top;
	width: 230px;
}
div#main img{
	display: block;
	margin: 0 auto;
}
div#main h2{
	color: #999;
	font-size: 2.5em;
	margin: 0 auto;
	padding: 4px 0;
	text-align: center;
	width: 210px;
}
div#main p{
	color: #999;
	font-size: 0.9em;
	font-family: arial, helvetica, sans-serif;
	margin: 0 auto;
	padding: 4px 0;
	text-align: justify;
	width: 210px;
}
footer{
	background: #222;
	min-height: 350px;
}
footer p, footer a, footer a:hover{
	color: #fff;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1em:;
}
footer a{
	font-weight: bold;
}